.lets-achieve {
    background-color: #B5E4FF;
    padding: 70px 0;

    &__body {
        margin: 0 auto;
        padding: 64px 18px;
        background-color: #2B477C;
        border-radius: 19px;
        text-align: center;
        color: #F4F4F4;
        max-width: 785px;
    }

    &__header {
        padding-bottom: 30px;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }

    &__text {
        padding-bottom: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    &__btn {
        background: #FF9728;
        border-radius: 84px;
        padding: 16px 40px;
        color: white;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        border-style: none;
        cursor: pointer;
    }

    &__btn:hover {
        background-color: #0D599C;
    }
}

@media (min-width: 768px) {
    .lets-achieve {
        padding: 97px 0;

        &__body {
            padding: 61px 60px;
        }

        &__header {
            padding-bottom: 20px;
            font-size: 40px;
            line-height: 49px;
        }

        &__text {
            padding-bottom: 30px;
            font-size: 18px;
            line-height: 21px;
        }
    }
}